
:root {
  --grey: #b1b1b1;
  --light: #fff;
}

body {
	display: block;
	margin: 0;
	height: 100%;
  background-color: #383354;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
  font-size: 100%;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.head-nav {
  width: 100%;
  height: 50px;
  background-color: #2E2A48;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.head-nav > div {
  margin: 0 20px;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-container > div {
  margin: 0 20px;
}

.head-nav .active {
  color: FAA5A5;
}

.logo-img {
  height: 17px;
  margin: 0 30px;
}

.container {
	width: 100%;
	height: calc(100vh - 50px);
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px; /* same height as the navigation */
}

.aggregation {
  position: absolute;
  z-index: 100;
  margin-left: 40px;
  margin-top: 10px
}

.overview {
  width: 35%;
  height: calc(100% - 60px);
  float: left;
  position: relative;
  padding-top: 60px; /* to make room for aggregation selection */
}

.overview > svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.detail {
  width: 64%;
  height: 100%;
  float: left;
  position: relative;
}

.detail > svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 50%;
  /* NB! If you change this, make sure that the "slider-adjusted" event in
   * main.js gets updated accordingly. */
  transform: translateY(-50%);
}

.detail-background {
  fill: #443F5F;
}

.triangle {
  fill: #443f5f;
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.circle {
    fill: none;
    stroke: #b1b1b1;
    stroke-width: 0.5px;
    animation-iteration-count: infinite;
}

.rank-path {
    fill: none;
}

.rank {
    text-anchor: middle;
    font-size: 10pt;
    fill: var(--grey);
}

.pop-slider-track {
    stroke: var(--grey);
    stroke-width: 2px;
}

.pop-slider-overlay {
    cursor: pointer;
    pointer-events: stroke;
    stroke-linecap: round;
    stroke-width: 24px;
    stroke: transparent;
}

.pop-slider-knob {
    stroke: #fff;
    fill: var(--light);
    stroke-width: 2px;
}

.pop-slider-knob-text {
    fill: var(--light);
    font-size: 10pt;
}

.pop-slider-max {
    fill: var(--grey);
}

.pop-slider-min {
    fill: var(--grey);
}

.pop-slider-mid {
    fill: var(--grey);
}

.pop-slider-txt {
    font-size: 8pt;
}

.vibrate-frequency-1 {
  animation-duration: 1.5s
}

.vibrate-frequency-2 {
  animation-duration: 1.2s
}

.vibrate-frequency-3 {
  animation-duration: 0.9s
}

.vibrate-frequency-4 {
  animation-duration: 0.6s
}

.vibrate-frequency-5 {
  animation-duration: 0.3s
}

.vibrate-size-1 {
  animation-name: vibrate-size-1;
}

.vibrate-size-2 {
  animation-name: vibrate-size-2;
}

.vibrate-size-3 {
  animation-name: vibrate-size-3;
}

.vibrate-size-4 {
  animation-name: vibrate-size-4;
}

.vibrate-size-5 {
  animation-name: vibrate-size-5;
}

@keyframes vibrate-size-1 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-2 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-3 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.6);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-4 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(2.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-5 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(2.9);
  }

  to {
    transform: scale(1);
  }
}

#song-detail {
  display: none;
  position: absolute;
  width: 12rem;
  background-color: #433F5F;
  color: #fff;
  border-radius: 5px;
  padding: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0.2rem;
}

.detail-show {
  display: block !important;
}

#song-name {
  font-weight: 600;
  font-size: 1.3rem;
}

#song-rank {
  font-weight: 600;
  font-size: 1.3rem;
}

#song-artist {
  font-weight: 500;
  color: #b1afaf;
  margin-bottom: 1rem;
}



.row {
  display: flex;
  justify-content: space-between
}

#click-prompt {
  margin-top: 1rem;
  color: #FAA5A5;
  font-style: italic;
}

#year-detail {
  display: none;
  position: absolute;
  width: 12rem;
  background-color: #433F5F;
  color: #fff;
  border-radius: 5px;
  padding: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0.2rem;
}

#year {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.player-control-play {
  fill: #FFFFFF;
  cursor: pointer;
}

.player-control-pause {
  fill: #FFFFFF;
  cursor: pointer;
}

.player-control-visible {
  display: none;
}

.year-item {
  fill: rgba(255, 255, 255, 0.25);
  stroke: #FFFFFF;
  cursor: pointer;
}

.year-item.selected {
  fill: rgba(250, 165, 165, 0.25);
  stroke: #FAA5A5;
  cursor: default;
  fill: rgba();
}

.x-axis line,
.y-axis line,
.x-axis path,
.y-axis path {
  stroke: var(--grey);
}

.x-axis text,
.y-axis text {
  fill: var(--grey);
}

.popularity {
  cursor: pointer
}

.aggregation {
  padding: 10px;
}

.aggregation > * {
  border-bottom: 1px solid #FAA5A5;
  border-left: 1px solid #FAA5A5;
  border-top: 1px solid #FAA5A5;
  color: #FAA5A5;
  cursor: pointer;
  float: left;
  padding: 0.5em;
  font-size: 14px;
}

.aggregation > *:first-child {
  border-radius: 3px 0 0 3px;
}

.aggregation > *:last-child {
  border-right: 1px solid #FAA5A5;
  border-radius: 0 3px 3px 0;
}

.aggregation > *.selected {
  background-color: #FAA5A5 !important;
  color: #433F5F;
}

.aggregation > div:hover {
  background-color: rgba(250, 165, 165, 0.12);
}

.selection-line {
  stroke: var(--grey);
  stroke-width: 0.5px;
}

.year-label {
  fill: #FAA5A5;
  font-weight: 500;
  font-size: 20px;
}