


body {
	display: block;
	margin: 0;
	height: 100%;
  background-color: #433F5F;
  font-family: 'Roboto Condensed', sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.head-nav {
  width: 100%;
  height: 50px;
  background-color: #35324c;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  color: #b1b1b1;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);*/
}

.head-nav > div {
  margin: 0 20px;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-container > div {
  margin: 0 20px;
}

.head-nav .active {
  color: FAA5A5;
}

.logo-img {
  height: 17px;
  margin: 0 20px;
}

.container {
	width: 100%;
	height: calc(100vh - 50px);
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px; /* same height as the navigation */
}

.overview {
  width: 30%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.overview > svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.detail {
  width: 69%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.detail > svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  top: 50%;
  /* NB! If you change this, make sure that the "slider-adjusted" event in
   * main.js gets updated accordingly. */
  transform: translateY(-50%);
}


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.circle {
    fill: none;
    stroke: #b1b1b1;
    animation-iteration-count: infinite;
}

.rank-path {
    fill: none;
}

.rank {
    text-anchor: middle;
    font-size: 10pt;
    fill: #FFFFFF;
}

.pop-slider-track {
    stroke: #FFF;
    stroke-width: 2px;
}

.pop-slider-overlay {
    cursor: pointer;
    pointer-events: stroke;
    stroke-linecap: round;
    stroke-width: 24px;
    stroke: transparent;
}

.pop-slider-knob {
    stroke: #FFFFFF;
    fill: #433F5F;
    stroke-width: 2px;
}

.pop-slider-knob-text {
    fill: #FFFFFF;
    font-size: 10pt;
}

.pop-slider-max {
    fill: #FFF;
}

.pop-slider-min {
    fill: #FFF;
}

.pop-slider-mid {
    fill: #FFF;
}

.pop-slider-txt {
    font-size: 8pt;
}

.vibrate-frequency-1 {
  animation-duration: 1.5s
}

.vibrate-frequency-2 {
  animation-duration: 1.2s
}

.vibrate-frequency-3 {
  animation-duration: 0.9s
}

.vibrate-frequency-4 {
  animation-duration: 0.6s
}

.vibrate-frequency-5 {
  animation-duration: 0.3s
}

.vibrate-size-1 {
  animation-name: vibrate-size-1;
}

.vibrate-size-2 {
  animation-name: vibrate-size-2;
}

.vibrate-size-3 {
  animation-name: vibrate-size-3;
}

.vibrate-size-4 {
  animation-name: vibrate-size-4;
}

.vibrate-size-5 {
  animation-name: vibrate-size-5;
}

@keyframes vibrate-size-1 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-2 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-3 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(1.6);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-4 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(2.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes vibrate-size-5 {
  from {
    transform: scale(1);
  }

  30% {
    transform: scale(2.9);
  }

  to {
    transform: scale(1);
  }
}

#song-detail {
  display: none;
  position: fixed;
  width: 15rem;
  background-color: #433F5F;
  color: #fff;
  border-radius: 5px;
  padding: 0.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#song-detail {
  margin-bottom: 0.2rem;
}

.detail-show {
  display: block !important;
}


#song-name {
  font-weight: 600;
  font-size: 1.3rem;
}

#song-artist {
  font-weight: 500;
  color: #b1afaf;
  margin-bottom: 1rem;
}

.label {
  width: 5rem;
}

.row {
  display: flex;
  justify-content: space-between
}

#click-prompt {
  margin-top: 1rem;
  color: #FAA5A5;
}

.player-control-play {
  fill: #FFFFFF;
  cursor: pointer;
}

.player-control-pause {
  fill: #FFFFFF;
  cursor: pointer;
}

.player-control-visible {
  display: none;
}

.year-item {
  fill: rgba(255, 255, 255, 0.25);
  stroke: #FFFFFF;
  cursor: pointer;
}

.x-axis line,
.y-axis line,
.x-axis path,
.y-axis path {
  stroke: #FFFFFF;
}

.x-axis text,
.y-axis text {
  fill: #FFFFFF;
}

.popularity {
  cursor: pointer
}


